@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: rgba(1, 8, 12, 0.81);
    /* background-color: rgba(19, 169, 255, 0.793); */
    color: rgba(255, 255, 255, 0.912);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.912);
}

a:link{
    color: rgba(255, 255, 255, 0.984);
}

a:visited {
    color: rgba(255, 255, 255, 0.984);
}

a:hover {
  color: rgba(111, 111, 130, 0.512);
}

a:active {
  color: rgba(57, 57, 65, 0.858);
}